.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @include mix-lg-desktop() {
        padding-top: rem(40px);
    }
}
.landing__video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
}
.landing__video-container--video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.landing__video-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $c-darkest-gradient;
    opacity: 0.8;
    z-index: -9;
    @include mix-lg-desktop() {
        bottom: rem(-20px);
    }
}

.landing__central-elements {
    text-align: center;
    min-width: 100%;
    padding-bottom: rem(
        calc(8px + 24px)
    ); // Button compensation + footer text margin
    @include screen-lt($bp-extra-small) {
        padding-bottom: rem(8px);
    }
}

.landing__central-elements--logo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
    width: rem(160px);
    height: rem(160px);
    position: inherit;
    margin-bottom: rem(16px);
    @include mix-md-tablet {
        width: rem(130px);
        height: rem(130px);
        margin-bottom: rem(24px);
    }
    @include screen-lt($bp-small) {
        width: rem(120px);
        height: rem(120px);
    }
}

.landing__central-elements--title {
    color: $c-white;
    font-weight: $fw-extraLight;
    text-transform: uppercase;
    font-size: rem(72px);
    letter-spacing: $ls-bigDistance;
    line-height: 1.25;
    @include mix-md-tablet {
        font-size: rem(56px);
        letter-spacing: $ls-smallDistance;
    }
    @include screen-lt($bp-medium) {
        font-size: rem(40px);
    }
}

.landing__central-elements--slug {
    color: $c-white;
    font-weight: $fw-extraLight;
    letter-spacing: $ls-smallDistance;
    margin-bottom: rem(40px);
    @include mix-md-tablet {
        font-size: $h-2-tablet;
        margin-bottom: rem(32px);
    }
    @include screen-lt($bp-medium) {
        font-size: $h-2-mobile;
    }
    @include screen-lt($bp-small) {
        display: block;
        margin: rem(8px auto 40px auto);
        max-width: rem(280px);
    }
    @include screen-lt($bp-extra-small) {
        margin-bottom: rem(32px);
        max-width: rem(178px);
    }
}

.vue-typer {
    .custom.char {
        color: $c-white;
        font-weight: $fw-extraLight;
        letter-spacing: $ls-smallDistance;
    }
    .custom.caret {
        background: $c-white;
    }
}

.landing__central-elements--button {
    @include screen-lt($bp-medium) {
        font-size: $txt-regular-mobile;
        padding: rem(8px 32px);
    }
}

.landing__footer {
    position: absolute;
    bottom: rem(24px);
    color: $c-white;
    font-weight: $fw-light;
    text-align: center;
    @include screen-lt($bp-small) {
        display: none;
    }
}
