.landing {
  background: $c-teal;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing__video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.landing__video-container--video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.landing__central-elements {
  text-align: center;
  height: 50%;
  z-index: 2;
}
.landing__central-elements--logo {
  background: url(../img/logo.svg) no-repeat center center;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  margin-bottom: 16px;
}
.landing__central-elements--title {
  color: $c-white;
  font-weight: $fw-extraLight;
  text-transform: uppercase;
  font-size: rem(72px);
  letter-spacing: rem(5px);
  line-height: 1.25;
}
.landing__central-elements--slug {
  color: $c-white;
  font-weight: $fw-extraLight;
  letter-spacing: rem(1px);
  margin-bottom: rem(40px);
}
.landing__footer {
  position: absolute;
  bottom: 30px;
  color: $c-white;
  font-weight: $fw-light;
  text-transform: lowercase;
}

