.projects {
  padding-bottom: rem(100px);
}
.projects__heading{
  @include section-heading()
}
.projects__previews-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: rem(32px);
}
