.projects {
  padding-bottom: rem(100px);
  @include screen-lt($bp-large-2) {
    padding-bottom: rem(72px);
  }
  @include screen-lt($bp-large) {
    padding-bottom: rem(40px);
  }
}
.projects__heading{
  @include section-heading();
  @include screen-lt($bp-large-2) {
    @include section-heading-center;
  }
}
.projects__previews-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: rem(57px);
  @include screen-lt($bp-large-2) {
    justify-content: center;
  }
  @include screen-lt($bp-medium) {
    margin-top: rem(16px);
  }
}
