.wrapper-small {
    margin: 0 auto;
    padding: rem(72px 110px);
    max-width: rem(1200px);
}
.wrapper-large {
    margin: 0 auto;
    padding: rem(72px 240px);
    max-width: 100%;
    @include mix-wide() {
        max-width: rem(1200px);
        padding: rem(72px 110px);
        margin: 0 auto;
    }
}
