/*
 * Generic
 */

$c-black: #000000;
$c-darkest-grey: #333333;
$c-dark-grey: #494949;
$c-mid-grey: #a5a5a5;
$c-grey: #f4f4f4;
$c-light-grey: #fafafa;
$c-white: #ffffff;
$c-light-blue: #00aaec;
$c-blue: #0768e9;
$c-mid-blue: #1d3e66;
$c-dark-blue: #0a2342;
$c-dark-blue-light: #667c95;
$c-teal: #64b6ac;
$c-teal-light: #8fcbc4;
$c-pastel-yellow: #fadc74;
$c-red: #e64022;

/*
 * Typography
 */
$c-text-primary: $c-black;
$c-text-secondary: $c-black;
$c-heading: $c-black;
$c-paragraph: $c-darkest-grey;
$c-label: $c-white;
$c-link: $c-blue;
