.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: rem(32px);
    z-index: 9999;
    font-family: $f-primary;
    @include transition();
    @include mix-lg-desktop() {
        background: rgba(255, 255, 255, 0.94);
        border-bottom: 1px solid $c-light-grey;
        padding: rem(8px 0);
        width: 100%;
        transform: translateY(0);
        top: 0;
        left: 0;
    }
}
.navbar__links {
    li {
        margin-bottom: rem(24px);
        color: $c-white;
        &:last-child {
            margin-bottom: 0;
        }
        @include mix-lg-desktop() {
            margin-bottom: 0;
            margin-right: rem(24px);
            &:last-child {
                margin-right: 0;
            }
        }
        @include mix-sm-mobile() {
            margin-right: rem(0px);
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            padding-bottom: rem(24px);
            text-align: center;
            border-bottom: 1px solid transparent;
            font-weight: $fw-regular;
            @include transition();
            @include mix-lg-desktop() {
                padding-bottom: 0;
                padding-right: rem(24px);
            }
        }
    }
    @include mix-lg-desktop() {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.navbar__persentege {
    margin-top: rem(16px);
    margin-left: rem(16px);
}
.changeBlue {
    color: $c-darkest-blue !important;
    font-weight: $fw-bold !important;
}
.changeWhite {
    color: $c-white !important;
    @include mix-lg-desktop() {
        color: $c-blue !important;
        font-weight: $fw-bold !important;
    }
}
