.navbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: rem(32px);
    z-index: 9999;
    font-family: $f-primary;
    @include transition();
}
.navbar__links {
    li {
        margin-bottom: rem(24px);
        color: $c-white;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            padding-bottom: rem(24px);
            text-align: center;
            border-bottom: 1px solid transparent;
            font-weight: $fw-regular;
            @include transition();
        }
    }
}
.navbar__persentege {
    margin-top: rem(16px);
    margin-left: rem(16px);
}
.changeBlue {
    color: $c-darkest-blue !important;
    font-weight: $fw-bold !important;
}
.changeWhite {
    color: $c-white !important;
}
