.project-preview {
    position: relative;
    width: rem(312px);
    height: rem(312px);
    background: url("../img/project-preview-default.jpg") no-repeat center
        center;
    background-size: 120%;
    border-radius: rem(20px);
    position: relative;
    @include transition();
    margin-bottom: rem(16px);
    margin-top: rem(16px);
    margin-right: rem(32px);
    &:nth-child(2n + 1) {
        margin-right: 0;
    }
    &:nth-child(3) {
        margin-right: rem(32px);
    }
    &:hover {
        border-radius: 0;
        border-top-right-radius: rem(20px);
        border-top-left-radius: rem(20px);
        transform: scale(1.025) !important;
        z-index: 15;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
    }
    &:hover > .project-preview__info {
        z-index: 20;
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
        top: rem(300px);
        left: 0;
        border-radius: 0;
        border-bottom-left-radius: rem(20px);
        border-bottom-right-radius: rem(20px);
        @include screen-lt($bp-extra-large) {
            top: rem(250px);
        }
    }
    @include screen-lt($bp-extra-large) {
        width: rem(250px);
        height: rem(250px);
        max-width: 100%;
    }
    @include screen-lt(860px) {
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(2n + 1) {
            margin-right: rem(32px);
        }
        &:nth-child(3) {
            margin-right: rem(32px);
        }
    }
    @include screen-lt(560px) {
        width: 280px;
        height: 280px;
        &:nth-child(2n + 1) {
            margin-right: 0;
        }
        &:nth-child(3) {
            margin-right: 0;
        }
    }
    @include screen-lt($bp-small) {
        margin: rem(16px 0);
    }
}
.project-preview__info {
    position: absolute;
    top: rem(312px);
    min-width: 100%;
    background: $c-white;
    padding: rem(16px);
    z-index: 10;
    border-radius: rem(20px);
    visibility: hidden;
    opacity: 0;
    @include transition();
}
.project-preview__info--name {
    margin-bottom: rem(8px);
}
.project-preview__info--description {
    font-size: $txt-small;
    margin-bottom: rem(16px);
}
.project-preview__info--permalink {
    font-size: rem(14px);
    color: $c-darkest-grey;
    &:hover {
        text-decoration: underline;
    }
}
