.project-preview {
  background: $c-mid-grey;
  background-size: cover;
  width: calc(33.3333% - 20px);
  height: 260px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  @include transition();

  &:nth-child(3n+1) {
    margin-left: 0;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transform: scale(1.03);
    z-index: 100;
  }
  &:hover > .project-preview__info {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    top: 250px;
    left: 0;
    border-radius: 0;
    border-bottom-left-radius: rem(20px);
    border-bottom-right-radius: rem(20px);
  }
}

.project-preview__info {
  position: absolute;
  top: 265px;
  background: $c-white;
  padding: 10px;
  z-index: 10;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  @include transition();
}
