/* Font Family */
@mixin font-primary-bold() {
  font-family: $f-primary;
  font-weight: $fw-bold;
}

@mixin font-primary-regular() {
  font-family: $f-primary;
  font-weight: $fw-regular;
}

@mixin font-primary-light() {
  font-family: $f-primary;
  font-weight: $fw-light;
}

@mixin font-primary-extraLight() {
  font-family: $f-primary;
  font-weight: $fw-extraLight;
}
