/* Font Family */
@mixin font-primary-bold() {
  font-family: $f-primary;
  font-weight: $fw-bold;
}

@mixin font-primary-regular() {
  font-family: $f-primary;
  font-weight: $fw-regular;
}

@mixin font-primary-light() {
  font-family: $f-primary;
  font-weight: $fw-light;
}

@mixin font-primary-extraLight() {
  font-family: $f-primary;
  font-weight: $fw-extraLight;
}
@mixin font-secondary-medium() {
    font-family: $f-secondary;
    font-weight: $fw-medium;
}
@mixin font-secondary-regular() {
    font-family: $f-secondary;
    font-weight: $fw-regular;
}
@mixin text-gradient(){
    background: $c-main-gradient-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin section-heading(){
    font-weight: $fw-bold;
    letter-spacing: $ls-closeLetters;
    @include text-gradient();
    display: inline;
}
@mixin section-heading-center(){
    font-weight: $fw-bold;
    letter-spacing: $ls-closeLetters;
    display: block;
    text-align: center;
    background: linear-gradient(90deg, $c-blue 40%, $c-teal 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
