/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
@import "~sass-rem/_rem";

// Variables
@import "variables/breakpoints";
@import "variables/colors";
@import "variables/typography";

// Mixins
@import "mixins/breakpoints";
@import "mixins/typography";
@import "mixins/other";

// Resets
@import "generic/reset";
@import "generic/shared";

// Elements
@import "elements/generic";
@import "elements/typography";
@import "elements/forms";
@import "elements/buttons";

// Objects

// Components
@import "components/project-preview";
@import "components/single-package";
@import "components/navbar";

// Pages

// Sections
@import "sections/landing";
@import "sections/projects";
@import "sections/testimonials";
@import "sections/about";
@import "sections/packages";
@import "sections/contact";

// Vendors
.columns {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

// Vue js
[v-cloak] {
    display: none;
}
